BaShipServer/dist/*.jar
BaShipServer/dist/*.TXT
BaShipServer/build/*
BaShipServer/nbproject/private/*
BaShipServer/nbproject/private/
BaShipClient/dist/*
BaShipClient/build/*
BaShipClient/nbproject/private/*
BaShipClient/nbproject/private/
*.directory
/BaShipServer/dist/
/JUnit/JUnit-Game/nbproject/private/